:root {
  --azul-escuro: #102739;
  --azul-escuro-hover: #0d1f2e;
  --cinza: #999;
  --marrom-claro: #e3b18b;
  --branco-hover: #e6e6e6;
}

*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Definiçoes do layout */
.center {
  width: 94vw;
  max-width: 1140px;
  margin: 0 auto;
}

.help-info {
  height: 36px;
  padding: 12px 0;
  background-color: var(--azul-escuro);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.help-info a {
  color: #fff;
  font-weight: bold;
  font-size: 0.875rem;
  margin-right: 12px;
}

.header {
  background-color: #fff;
  padding: 12px;
  box-shadow: rgba(60, 55, 56, 0.07) 0px 0px 0px 1px, rgba(60, 55, 56, 0.07) 0px 0px 1px 0px, 
              rgba(60, 55, 56, 0.07) 0px 2px 2px 0px;
}

.homepage {
  color: var(--azul-escuro);
  margin: 0;
}

.nav-space {
  margin-left: 24px;
}

.nav-link {
  font-weight: bold;
  padding-top: 12px;
}

.btn-search {
  color: #fff;
  background-color: var(--azul-escuro);
  border-color: var(--azul-escuro);
}

.btn-search:hover {
  color: var(--branco-hover);
  background-color: var(--azul-escuro-hover);
  border-color: var(--azul-escuro-hover);
}

.footer {
  padding: 24px 12px;
  margin-top: 100px;
  background-color: var(--azul-escuro);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  color: #fff;
  font-size: 0.75rem;
  text-align: center;
}

/* Alguns efeitos apenas em desktop */
@media only screen and (min-width: 992px) {
  .help-info a:hover {
    text-decoration: underline;
    color: var(--cinza);
  }
}

@media only screen and (max-width: 992px) {
  .dropdown-menu[data-bs-popper] {
    margin-bottom: 16px;
  }
}

@media only screen and (max-width: 425px) {
  .help-info a {
    font-size: 0.625rem;
  }

  .homepage {
    font-size: 1.625rem;
  }
}