:root {
  --azul-escuro: #102739;
  --cinza: #999;
  --marrom-claro: #e3b18b;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Definiçoes do layout */
.center {
  width: 95vw;
  max-width: 1140px;
  margin: 0 auto;
}

/* Desktop */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Tablets */
@media only screen and (max-width: 768px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

/* Smartphones */
@media only screen and (max-width: 600px) {
  [class*="col-"] {
    width: 100%;
  }
}

.help-info {
  height: 36px;
  padding: 12px 0;
  background-color: var(--azul-escuro);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.help-info a {
  color: #fff;
  font-weight: bold;
  font-size: 0.875rem;
  margin-right: 12px;
}

.help-info a:hover {
  text-decoration: underline;
  color: var(--cinza);
}

.header {
  background-color: #fff;
  padding: 12px;
  margin-bottom: 16px;
  box-shadow: rgba(60, 55, 56, 0.07) 0px 0px 0px 1px, rgba(60, 55, 56, 0.07) 0px 0px 1px 0px, 
              rgba(60, 55, 56, 0.07) 0px 2px 2px 0px;
}

.homepage {
  color: var(--azul-escuro);
  margin-bottom: 12px;
}

.navbar ul {
  overflow: hidden;
  display: flex;
  align-items: center;
}

.navbar a {
  display: block;
  font-size: 1.125rem;
  text-align: center;
  padding: 14px 12px;
  color: var(--azul-escuro);
  font-weight: bold;
  border-bottom: 3px solid transparent;
}

.navbar a:hover {
  border-bottom: 3px solid var(--azul-escuro);
  color: var(--cinza);
}

.footer {
  padding: 24px 0;
  margin-top: 100px;
  background-color: var(--azul-escuro);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  color: #fff;
  font-size: 1.125rem;
}