section {
  padding: 0 12px;
  margin: 16px 0;
}

.container-breadcrumb {
  margin: 36px 0;
}

.breadcrumb {
  display: flex;
  align-items: center;
}

.breadcrumb-item {
  color: var(--azul-escuro);
  font-size: 0.875rem;
  display: flex;
  align-items: center;
}

.breadcrumb li+li:before {
  padding: 0 8px;
  color: var(--cinza);
  content: "\003E\003E";
}

.breadcrumb-item a {
  color: var(--azul-escuro);
}

.breadcrumb-item a:hover {
  color: #01447e;
  text-decoration: underline;
}

.breadcrumb-item .name {
  display: block;
  line-height: 1rem;
  max-width: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bread-atual {
  font-weight: bold;
}

.header-produto .divisor {
  width: 100px;
  height: 5px;
  background-color: var(--azul-escuro);
  border: 0px;
}

.header-produto h2 {
  color: var(--azul-escuro);
  margin: 8px 0;
  font-size: 1.5rem;
}

.body-produto {
  display: flex;
}

.info-produto {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-right: 24px;
}

.img-produto {
  padding: 16px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
}

.img-produto img {
  max-width: 380px;
  width: 100%;
  display: block;
}

.descricao-produto {
  margin: 32px 0;
}

.descricao-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.descricao-text {
  overflow: hidden;
  overflow-wrap: break-word;
}

.descricao-text p {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.sidebox-produto {
  width: 40%;
}

.pricetag-produto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 4px solid var(--azul-escuro);
}

.head-pricetag {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 8px;
}

.preco-produto {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.delivery-text {
  font-size: 0.875rem;
  color: var(--cinza);
}

.delivery-text span {
  color: var(--azul-escuro);
  font-weight: bold;
}

.botoes-produto {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.botoes-produto > * {
  padding: 12px 16px;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
}

.btn-comprar {
  background-color: var(--azul-escuro);
  color: #fff;
}

.btn-favoritar {
  background-color: transparent;
  border: 1px solid #41a017;
  color: #41a017;
}

.btn-comprar:hover {
  background-color: #01447e;
}

.btn-favoritar:hover {
  background-color: #eaf3e2;
  color: #158110;
}

.descricao-detalhada {
  margin-top: 32px;
}

.descricao-detalhada h3 {
  margin-bottom: 12px;
}

.container-table {
  width: 75%;
}

.container-table table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container-table tr:nth-child(odd) {
  background-color: #eaf3e2;
}

.container-table th {
  padding: 10px;
  width: 30%;
  text-align: left;
}

.container-table td {
  padding: 10px;
  width: auto;
}

@media only screen and (max-width: 768px)  {
  .container-breadcrumb {
    display: none;
  }

  .header-produto .divisor {
    display: none;
  }

  .body-produto {
    flex-direction: column;
  }

  .info-produto {
    width: 100%;
    padding: 0;
  }

  .sidebox-produto {
    width: 100%;
  }

  .descricao-detalhada {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-table {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
  }

  .container-table th, .container-table td {
    font-size: 0.875rem;
  }
}

@media only screen and (max-width: 425px) {
  .header-produto h2 {
    text-align: center;
  }

  .descricao-detalhada h3 {
    font-size: 1.25rem;
    text-align: center;
  }

  .container-table th, .container-table td {
    display: block;
    width: 100%;
  }
}