/* Main content */
section {
  padding: 0 12px;
  margin: 16px 0;
}

section h2 {
  color: var(--azul-escuro);
}

.produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: var(--azul-escuro);
  padding: 16px;
  border-radius: 12px;
  margin: 12px 0;
}

.card-produto {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  height: 400px;
  border: 1px solid var(--marrom-claro);
  overflow: hidden;
}

.card-img img {
  display: block;
}

.container-card-text {
  padding: 12px;
  background-color:rgba(255, 255, 255, 0.3);
}

.card-text {
  display: flex;
  flex-direction: column;
  height: 180px;
  justify-content: space-between;
  word-break: break-all;
}

.card-text > * {
  color: #fff;
  font-size: 1.125rem;
}

.card-text span {
  font-weight: bold;
}